@font-face {
  font-family: Engravers;
  src: url(../../../style/font/ENGR.ttf);
}

@font-face {
  font-family: EngraversBold;
  src: url(../../../style/font/EngraversMTBold.ttf);
}

@font-face {
  font-family: NotoSansTC-Medium;
  src: url(../../../style/font/NotoSansTC-Medium.otf);
}

.u-body {
  font-family: 'Noto Sans TC Medium', sans-serif;
  width: calc(100% - 70px);
  height: 100%;
  min-height: 100vh;
  background-color: #e8e8e8;
  padding: 0 10vw;
}

//----- carousel -----
.u-img-carousel {
  position: relative;
  margin-top: 90px;
  margin-bottom: 40px;
  width: 450px;
  z-index: 0;
}

.u-img-carousel > img {
  width: 100%;
}

.u-title01 {
  width: 152px;
  height: 44px;
  background-color: #000;
  padding-bottom: 10px;
  position: absolute;
  top: 530px;
  left: -10px;
}

.u-title01 > span {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 36px;
  color: #81fc4d;
}

.u-title02 {
  width: 378px;
  height: 43px;
  position: absolute;
  background-color: #81fc4d;
  top: 594px;
  left: 50px;
}

.u-title02 > span {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 36px;
  color: #000;
}

.u-title03 {
  width: 260px;
  height: 43px;
  background-color: #81fc4d;
  position: absolute;
  top: 658px;
  left: 205px;
}

.u-title03 > span {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 36px;
  color: #000;
}

// ----- form 表單 -----
.u-container2 {
  margin-top: 80px;
}

.u-membertile {
  display: flex;
  justify-content: center;
  text-align: center;
}

.u-membertile > p {
  width: 100%;
  font-family: EngraversBold;
  font-size: 3rem;
  letter-spacing: 5px;
}

@media screen and (max-width: 1500px) {
  .u-membertile > p {
    font-size: 42px;
  }
}

@media screen and (max-width: 1216px) {
  .u-membertile > p {
    font-size: 28px;
  }
}

@media screen and (max-width: 1216px) {
  body {
    background-color: #e8e8e8;
    height: 100%;
  }
}

@media screen and (max-width: 1216px) {
  .u-container2 {
  margin-top:120px;
   margin-left: 30px;
  }
}


//----- 登入、註冊btn -----
.u-addbutton {
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.u-loginbtn1 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
}

.u-loginbtn1 > a {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 30px;
  color: #000;
  text-decoration: none;
}

.u-addbtn1 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 70px;
  background-color: #000;
  text-align: center;
  line-height: 70px;
}

.u-addbtn1 > a {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

//----- input 樣式 -----
.u-form > input {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: #e8e8e8;
  border: 2px solid #000;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  border-radius: 0px;
  &:focus {
    outline: none !important;
    border: 2px solid #1d0aff;
    background-color: #e8e8e8;
  }
}

// ----- label 文字 -----
.u-checkbox > label {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 14px;
}

.u-link1 {
  color: #000;
}

// 註冊、登入按鈕
.u-AddBtn {
  margin-left: 35%;
  margin-top: 50px;
  text-align: center;
  line-height: 45px;
  width: 130px;
  height: 50px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px;
  color: #000;
  border: 2px solid #000;
  &:hover {
    .u-link1 {
      color: #fff;
    }
    background-color: #000;
  }
}

@media screen and (max-width: 580px) {
  .u-AddBtn {
    width: 150px;
    margin-left: 90px;
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}

.u-userAddBtn {
  margin-left: 35%;
  margin-top: 40px;
  text-align: center;
  line-height: 45px;
  width: 130px;
  height: 50px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px;
  color: #000;
  border: 2px solid #000;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}
