@font-face {
  font-family: Engravers;
  src: url(../../../style/font/ENGR.ttf);
}

@font-face {
  font-family: EngraversBold;
  src: url(../../../style/font/EngraversMTBold.ttf);
}

@font-face {
  font-family: NotoSansTC-Medium;
  src: url(../../../style/font/NotoSansTC-Medium.otf)
}


body {
  // margin-top: 30px;
  // margin-left: 70px;
  // margin-right: 70px;
  // background-color: #e8e8e8;
}

//----- Logo -----

.logo-header {
  width: 1100px;
  border-bottom: 2px solid #000;
}

.logo-header > img {
  width: 190px;
  padding-bottom: 20px;
}

//----- carousel -----

.img-carousel {
  position: relative;
  margin-top: 90px;
  width: 450px;
  margin-left:30px;
  z-index: 0;
}

.title01 {
  width: 152px;
  height: 44px;
  background-color: #000;
  padding-bottom: 10px;
  position: absolute;
  top: 530px;
}

.title01 > span {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 36px;
  color: #81fc4d;
}

.title02 {
  width: 378px;
  height: 43px;
  position: absolute;
  background-color: #81fc4d;
  top: 594px;
  left: 50px;
}

.title02 > span {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 36px;
  color: #000;
}

.title03 {
  width: 260px;
  height: 43px;
  background-color: #81fc4d;
  position: absolute;
  top: 658px;
  left: 210px;
}

.title03 > span {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 36px;
  color: #000;
}

// ----- form 表單 -----

.container2 {
  margin-top: 84px;
  margin-left: -120px;
}

.member {
  text-align: center;
}

.member > h1 {
  font-family: EngraversBold;
  font-size: 46px;
  letter-spacing: 5px;
}

//----- 登入、註冊btn -----

.addbutton {
  width: 520px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  // line-height: 100px;
}

.loginbtn {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 70px;
  text-align: center;
  line-height: 55px;
  background-color: #000;
}

.loginbtn > a {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

.addbtn {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 70px;
  text-align: center;
  line-height: 55px;
}

.addbtn > a {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 30px;
  color: #000;
  text-decoration: none;
}

// .addbtn > a:hover {
//   color: #1d0aff;
// }

//----- icons -----

.gf {
  height: 80px;
  border-bottom: 2px solid #000;
  font-size: 60px;
}

.g {
  padding-right: 20px;
}

.f {
  padding-left: 20px;
}

//----- input 樣式 -----

.u-form > input {
  margin-top: 30px;
  width: 520px;
  height: 60px;
  background-color: #e8e8e8;
  border: 2px solid #000;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
}

.form-check-label {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
}

/* =====btn 自訂顏色===== */

.btn-outline-dark {
  margin-top: 30px;
  width: 200px;
  height: 60px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 24px;
  margin-left: 150px;
  color: #000;
  background-color: #e8e8e8;
  border: 2px solid #000;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

small {
  margin-left: 450px;
}

/* .btn {
    margin-top: 30px;
    width: 200px;
    height: 60px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
     margin-left: 150px;
} */

/*===== onClick =====*/
/* .loginbtn {
    width: 200px;
    height: 70px;
    margin-top: 13px;
    background-color: #000;
    text-align: center;
    line-height:70px;
} */

/* .addbtn {
    width: 200px;
    height: 70px;
    margin-top: 13px;
    background-color: #000;
    text-align: center;
    line-height:70px;
} */
