.u-edit,
.u-userOrder,
.u-coupon,
.u-ticket,
.u-userfav,
.u-userauction {
  width: 95px;
  height: 40px;
  border: 2px solid #000;
  color: #000;
  line-height: 35px;
  text-align: center;
  font-family: 'Noto Sans TC';
  font-size: 16px;
  margin-bottom: 10px;
}
.u-edit:hover ,.u-userOrder:hover, .u-coupon:hover, .u-ticket:hover, .u-userfav:hover, .u-userauction:hover{ 
  color: #81fc4d;
  background-color: #000;
}
