.edit, .userOrder, .coupon, .ticket, .userfav, .userauction{
    width: 100px;
    height: 45px;
    border: 2px solid #000;
    color: #000;
    line-height: 40px;
    text-align: center;
    font-family: 'Noto Sans TC';
    font-size: 16px;
} 