/* ----- 大標 ----- */
.u-orderItem {
    margin-top:30px;
    width: 1045px;
    margin-left: 0px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.u-userPro, .u-userTic {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 480px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.u-userTic > a{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
    color:#000;
    text-decoration: none;
}

.u-userPro {
    background-color: #000;
}

.u-userPro > a { 
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.u-progress{
    margin-top: 20px;
    width: 200px;
    height: 55px;
    font-size: 1.5rem;
    font-weight: normal;
    border: 2px solid black;
    text-align: center;
    line-height: 52px;
}

.u-progress > div{

    border-right: 2px solid black;
    display: inline-block;
}

.user-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  border: 0px;
  padding-right: 2rem;
}

/* ----- select 箭頭樣式 ----- */
.u-progressSelect > select {
    padding-left: 5px;
    padding-top: 1px;
    width: 90px;
    height: 50px;
    background-color: #e8e8e8;
    border: 2px solid #000;
}

/* ----- 訂單 ----- */
.u-table {
    margin-top: 20px;
    width: 1044px;
    height: 195px;
    border: 2px solid #707070;
    font-size: 16px;
    font-family: NotoSansTC-Medium;
}

.u-th {
    background-color: #707070;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

/* ----- 取消 btn ----- */
.u-Lbtn > .btn-light {
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #000;
    background-color: #e8e8e8;
    border-color: #000;
    position: absolute;
    top: 40px;
}

.u-Lbtn > .btn-light:hover,
.u-Lbtn > .btn-light:focus,
.u-Lbtn > .btn-light:active:hover {
    color: #000;
    background-color: #e8e8e8;
    border-color: #000;
}

/* ----- 詳細資料 btn ----- */

.u-Bbtn > .btn-dark {
    width: 150px;
    height: 50px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
    /* margin-left: 150px; */
    color: #fff;
    background-color: #000;
    border-color: #000;
    position: absolute;
    bottom: 0px;
    }

.u-Bbtn > .btn-dark:hover,
.u-Bbtn > .btn-dark:focus,
.u-Bbtn > .btn-dark:active:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.u-link {
    color: #fff;
}

.u-link:hover {
    color: #fff;
}