// body {
//     margin-top: 30px;
//     margin-left: 70px;
//     margin-right:70px;
//     background-color:  #e8e8e8;
// }

// ----- Logo -----

.logo-header {
  width: 1045px;
  border-bottom: 2px solid #000;
}

.logo-header > img {
  width: 190px;
  padding-bottom: 20px;
}

// .item{
//      margin-top: 70px;
// }

/* =====btn 自訂顏色===== */

.btn-outline-dark {
  margin-left: 190px;
  width: 130px;
  height: 50px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  color: #000;
  background-color: #e8e8e8;
  border-color: #000;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

// ----- 大標 -----

.row {
  margin-top: 30px;
  width: 1045px;
  margin-left: 0px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.userMsg,
.userPwd {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 480px;
  height: 70px;
  text-align: center;
  line-height: 60px;
}

.userPwd > a {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

.userPwd {
  background-color: #000;
}

.userMsg > a {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 30px;
  color: #000;
  text-decoration: none;
}

// ----- input 樣式 -----

// .form-control {
//     width: 475px;
//     height: 60px;
//     border: 2px solid #000;
//     background-color: #e8e8e8;
//     font-size: 16px;
// }

// label {
//     font-family: 'Noto Sans TC';
//     font-size: 18px;
// }

.pwdData {
  margin-top: 50px;
  margin-left: 270px;
}
