// ===== 大標題 =====
.u-userEve1, .u-userWshop1 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 22vw;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.u-userWshop1 {
    background-color: #000;
}

.u-userWshop1 > a {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.3rem;
  }
  
  .u-userEve1 > a {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    letter-spacing: 0.3rem;
  }