@font-face {
    font-family: Engravers;
    src: url(../../../style/font/ENGR.ttf);
}

@font-face {
    font-family: EngraversBold;
    src: url(../../../style/font/EngraversMTBold.ttf);
}

@font-face {
    font-family: NotoSansTC-Medium;
    src: url(../../../style/font/NotoSansTC-Medium.otf)
}

@font-face{
    font-family: NotosansTC-Bold;
    src: url(../../../style/font/NotoSansTC-Bold.otf);
}
.prolist-titlepic{
    position: relative;
}


.prolist-titlepic img{
    width:100%;
}

.prolist-titleword{
    width: 20vw;
    position: absolute;
    top: 30%;
    left: 70%;
    display: flex;
    flex-wrap: wrap;

}
.prolist-ArtDdictlogo{
    width: 100%;
    
}
.prolist-titlewordA{
    font-family: notoSansTC-Medium;
    font-size: 2.5vw;
    letter-spacing: 8px;
    justify-content: flex-end;
    text-align: right;
    padding: 0;


}
.prolist-titlewordB{
    font-family: notoSansTC-Medium;
    font-size: 1.3vw;
    text-align: right;
    margin-top: 10px;
    justify-content: flex-end;
    padding: 0;

}
.prolist-zzzzzz{
    letter-spacing: 0;
}

.prolist-shopnowBtn{
    background-color: black;
    margin-top: 15px;
    width: 130px;
    border: 0 solid black;
}
.prolist-justify{
    justify-content: flex-end;
    padding: 0;
}

.prolist-shopnowBtn p{
    padding: 5px;
    font-family: notoSansTC-Medium;
    color: white;
}

.prolist-quote p{
    font-family: Engravers;
    text-align: center;
    font-size: 2vw;
    margin-top: 20px;
}
.prolist-quote2 p{
    font-family: Engravers;
    text-align: center;
    font-size: 1.2rem;  
    margin: 20px 0 20px 0;
}
.prolist-full2{
    background-color: #e8e8e8;
    width: calc(100vw - 70px);
}
.prolist-row{
    /* background-color: rgb(124, 252, 252); */
    width:75vw;
    height: 1500px;
    margin: 0 auto;
}

.prolist-topOflist{
    width: 100%;
    height: 180px;
    border-bottom: 2px solid black;
}
.prolist-breadbox{
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}
.prolist-bread{
    padding-top: 35px;
}
.prolist-breadwordall{
    font-family: notoSansTC-Medium;
    color: black;
}
.prolist-breadwordA{
    color: #7a7a7a;
    font-family: notoSansTC-Medium;

}
.prolist-breadwordB{
    color: black;
    font-family: notoSansTC-Medium;

}
.prolist-filter{
    justify-content: space-between;
    height: 50px;
}
.prolist-arrangeAndIcon{
    padding: 0;
}
.prolist-filterName{
    border: 1px solid black;
    padding: 7px 10px;
}
.prolist-controlFilter{
    padding-left: 20px
    ;
}
.prolist-searchIcon{
    margin-top: 10px;
    margin-left: 5%;
}
.aucd-Searchbox{
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    border-bottom: 1px solid #000; 
}
.abc-Search{
    display: inline-block;
    margin: 0 0 0 1.5rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
    border:0rem;
    padding: 0;
}

.proMove{
    transform: translate(210px, 0);
    transition: 1s;
}
.proClickMe{
    /* visibility:hidden; */
    opacity:0;
    transition: .5s;
}
.helloSearch{
    /* visibility: visible 1s; */
    opacity:1;
    transition: 1s;
}
.prolist-sliderbox{
    width: 300px;
    height: 50px;
    justify-content: flex-end;
    margin-top: 15px;
}
.prolist-slider{
    width: 100%; 
    height: 25px;
    background: #d3d3d3;
    opacity: 0.7; 
}
.pro-priceRange{
    margin-top: 15px;
    margin-right: 30px;
    font-size: 1.1rem;
}
.pro-showing{
    margin-top: 10px;

}
.pro-filterWord{
    font-family: notoSansTC-Medium;
    
}
.pro-filterWordA{
    font-family: notoSansTC-Medium;
}




/* ------------------productAndCategory------ */
.prolist-productAndCategory{
    justify-content: space-between;
}
.prolist-leftSide{
    width: 200px;
    height: 800px;
    margin-top: 50px;
}
.prolist-rightSide{
    width: 55vw;
}

/* ---------------------Category-------------------- */
  .hotProduct p, .pro-clothes p, .pro-furniture p, .pro-stationery p, .pro-books p, .pro-accessories p, .pro-casual p{
    font-family: notoSansTC-Medium;
    font-size: 1.5rem;
    padding: 13px 0 0 20px;
    color: black;
}
.museumProduct2{
    width: 100%;
    height:70px;
    background-color:white;
    font-family: notoSansTC-Medium;
    color:black;
    padding: 13px 0 0 20px;
    font-size: 1.5rem;
    text-decoration:none;
}



.museumProduct2{
    width: 100%;
    height:70px;
    background-color:#e8e8e8;
    font-family: notoSansTC-Medium;
    color:black;
    padding: 13px 0 0 20px;
    font-size: 1.5rem;
    text-decoration:none;
}
.museumProduct{
    width: 100%;
    height:70px;
    background-color:black;
    font-family: notoSansTC-Medium;
    color:white;
    padding: 13px 0 0 20px;
    font-size: 1.5rem;
    text-decoration:none;
}
.newArrival, .hotProduct, .pro-clothes, .pro-furniture, .pro-stationery, .pro-books, .pro-accessories, .pro-casual{
    width: 100%;
    height: 70px;
    background-color:transparent;
    width: 100%;
    height: 70px;
    background-color:transparent;
    font-family: notoSansTC-Medium;
    font-size: 1.5rem;
    padding: 13px 0 0 20px;
    color: black;
}

/* 
.museumProduct p{
    font-family: notoSansTC-Medium;
    color:white;
    padding: 13px 0 0 20px;
    font-size: 1.5rem;
    text-decoration:none;

} */

/* ----------------product item--------- */
.prolist-card{
    padding: 0;
    flex: 0 0 32%;
  max-width: 32%;
}
.prolist-cardTop{
    width: 100%;
    height: 50px;
}
.prolist-imgBorderBox{
    position: relative;
    height: 255px;
    overflow: hidden;
}
.prolist-imgBox{
    border:2px solid gray;
    border-bottom: 0 ;
    height: 250px;
    overflow: hidden;
}


.prolist-inImg{
    height: 100%;
    width: 100%;
}
.prolist-blackBar{
    background-color:black;
    width: 100%;
    height: 70px;
    z-index: 999;
    opacity: 0.5;
    position: absolute;
    bottom: 0%;
}

.pro-index-card-rect {
    width: 100%;
    height: 50px;
    background: #000;
    overflow:hidden;
    transform:translateY(0px)
  }


  .pro-index-card-rect2 {
    width: 100%;
    height: 50px;
    background: #000;
    position: absolute;
    overflow:hidden;
    bottom:0%;
    transition: .5s;
  }
 
.pro-index-card-rect div {
    color: white;
    margin: auto;
    font-family: notoSansTC-md;
    letter-spacing: 3px;
  }

  .pro-index-heart2{
    color: #81FC4D;
  }

.pro-border{
    border-right: 1px solid white;
}

.prolist-cardWordBox {
    padding-top: 5px;
    justify-content:space-between;
}
.prolist-cardProName p{
    font-family: notoSansTC-Medium;
}
.prolist-cardProPrice p {
    font-family: notoSansTC-Medium;
}

@media (min-width: 1440px){
    .prolist-imgBox{
        height: 350px;
    }
}


/* --------------左邊category JQ CSS------- */
.changeColors{
    background-color: black;
    color: white;
    transition:.8s
}
.changeColors2{
 
    background-color: white;;
    color:black;
 
}

.pro-index-heart{
    
}