@font-face {
    font-family: Engravers;
    src: url(../../../style/font/ENGR.ttf);
}

@font-face {
    font-family: EngraversBold;
    src: url(../../../style/font/EngraversMTBold.ttf);
}

@font-face {
    font-family: NotoSansTC-Medium;
    src: url(../../../style/font/NotoSansTC-Medium.otf)
}

.homepageA-word, .homepageA-wordB  {
    font-family: NotoSansTC-Medium;
}



.pro-English {
    font-family: Engravers;
}

.pro-outside {
    background-color: black;
    width: calc(100vw - 70px);
    height: 100vh;
}

.homepageA-left {
    /* background-color: aqua; */
    height: 100vh;
    width: 33vw;
    margin-left: 8%;
}

.homepageA-right {
    /* background-color: yellowgreen; */
    width: 53vw;
    height: 100vh;
    margin-left: 3%;
}

.ArtLogoDiv {
    margin-top: 5%
}

.upLogoDiv {
    margin-top: 5%;
    transform: rotate(10deg);
    width: 30vw;
}

.upLogo {
    width: 100%;
}

.homepageA-word-div {
    margin-top: 5%;
}

.homepageA-word {
    font-size: 4.5rem;
    color: #81FC4D;
}

.homepageA-wordB-div {
    margin-top: 10%;
}

.homepageA-wordB {
    line-height: 2em;
    font-size: 1.4rem;
    color: #81FC4D;
}

.homepageA-box {
    border: none;
    border-radius: 0;
    background-color: #1D0Aff;
    margin-top: 10%;
    color: white;
    text-align: center;
    padding: 10px 50px;
}

.btn:hover {
    color: white;
}

.homepageA-right-box {
    /* background-color: yellow; */
    width: 52vw;
    height: 80vh;
    margin-top: 13%;
    position: relative;
}

.homepageA-right-box-picA {
    /* background-color: forestgreen; */
    width: 26vw;
    height: 80vh;
    overflow:hidden;

}

.homepageA-right-box-picB {
    /* background-color: blue; */
    width: 25vw;
    height: 20vh;
    margin-left: 3%;
    overflow:hidden;

}

.homepageA-right-box-picC {
    /* background-color: pink; */
    width: 17vh;
    height: 17vh;
    position: absolute;
    left: 52.7%;
    bottom: 0%;
    overflow:hidden;

}

.homepageA-right-box-picD {
    /* background-color: grey; */
    width: 15vw;
    height: 55vh;
    position: absolute;
    right: 0%;
    bottom: 0%;
    overflow:hidden;

}

.homepageA-right-picA{
    height:100%;
}
.homepageA-right-picB{
    width: 150%;
    margin-top: -45%;
    margin-left: -20%;
}
.homepageA-right-picC{
    width: 200%;
    margin-left: -20%;
    margin-top: -40%;

}
.homepageA-right-picD{
    height: 150%;
    margin-left: -70%;
    margin-top: -40%;
}
.arddictCircleG{
    width: 25%;
    position: absolute;
    top: 30%;
    left: 60%;
}
.arddictEyeG{
    width: 20%;
    position: absolute;
    top: 41%;
    left: 62.5%;
}
/* -------------第二頁 */
.pro-outside2 {
    background-color: black;
    width: calc(100vw - 70px);
    height: 100vh;
}
.homepageB-left{
    height: 100vh;
    width: 44vw;
    margin-left: 8%;
    position: relative;

}
.homepageB-right{
    background-color:rgb(129, 189, 39);
    height: 100vh;
    width: 44vw;
}
.pro-gif{
    width: 25vw;
    height: 60vh;
    margin: 25% 13%  ;
    overflow: hidden;
}
.museumGif{
    height: 100%;
    margin-left: -70%;
    opacity: 0.6;
}
.homepageB-left-word{
    color: #81FC4D;
    /* font-size: 2rem; */
    font-size: 2.5vw;
    position:absolute;
    top: 35%;
    line-height: 140%;
    z-index: 999;
}