

@font-face {
    font-family: Engravers;
    src: url(../../../style/font/ENGR.ttf);
}

@font-face {
    font-family: EngraversBold;
    src: url(../../../style/font/EngraversMTBold.ttf);
}

@font-face {
    font-family: NotoSansTC-Medium;
    src: url(../../../style/font/NotoSansTC-Medium.otf)
}

.homepageA-word, .homepageA-wordB {
    font-family: NotoSansTC-Medium;
}
.homepage3-NewArrival{
    font-family: Engravers;
    font-size:6vw;
    line-height: 90px;
}
.homepage3-word  {
    font-family: NotoSansTC-Medium;
    font-size: 1.5vw;
    line-height:7vh;
}



.pro-English {
    font-family: Engravers;
}

.pro-outside {
    background-color: black;
    width: calc(100vw - 70px);
    height: 100vh;
}

.homepageA-left {
    /* background-color: aqua; */
    height: 100vh;
    width: 33vw;
    margin-left: 8%;
}

.homepageA-right {
    /* background-color: yellowgreen; */
    width: 53vw;
    height: 100vh;
    margin-left: 3%;
}

.ArtLogoDiv {
    margin-top: 5%
}

.upLogoDiv {
    margin-top: 5%;
    transform: rotate(10deg);
    width: 30vw;
}

.upLogo {
    width: 100%;
}

.homepageA-word-div {
    margin-top: 5%;
}

.homepageA-word {
    font-size: 4.5rem;
    color: #81FC4D;
}

.homepageA-wordB-div {
    margin-top: 10%;
}

.homepageA-wordB {
    line-height: 2em;
    font-size: 1.4rem;
    color: #81FC4D;
}

.homepageA-box {
    border: none;
    border-radius: 0;
    background-color: #1D0Aff;
    margin-top: 10%;
    color: white;
    text-align: center;
    padding: 10px 50px;
}

.btn:hover {
    color: white;
}

.homepageA-right-box {
    /* background-color: yellow; */
    width: 52vw;
    height: 80vh;
    margin-top: 13%;
    position: relative;
}

.homepageA-right-box-picA {
    /* background-color: forestgreen; */
    width: 26vw;
    height: 80vh;
    overflow:hidden;

}

.homepageA-right-box-picB {
    /* background-color: blue; */
    width: 25vw;
    height: 20vh;
    margin-left: 3%;
    overflow:hidden;

}

.homepageA-right-box-picC {
    /* background-color: pink; */
    width: 17vh;
    height: 17vh;
    position: absolute;
    left: 52.7%;
    bottom: 0%;
    overflow:hidden;

}

.homepageA-right-box-picD {
    /* background-color: grey; */
    width: 15vw;
    height: 55vh;
    position: absolute;
    right: 0%;
    bottom: 0%;
    overflow:hidden;

}

.homepageA-right-picA{
    height:100%;
}
.homepageA-right-picB{
    width: 150%;
    margin-top: -45%;
    margin-left: -20%;
}
.homepageA-right-picC{
    width: 200%;
    margin-left: -20%;
    margin-top: -40%;

}
.homepageA-right-picD{
    height: 150%;
    margin-left: -70%;
    margin-top: -40%;
}
.arddictCircleG{
    width: 25%;
    position: absolute;
    top: 30%;
    left: 60%;
}
.arddictEyeG{
    width: 20%;
    position: absolute;
    top: 41%;
    left: 62.5%;
}
/* -------------第二頁 */
.pro-outside2 {
    background-color: black;
    width: calc(100vw - 70px);
    height: 100vh;
}
.homepageB-left{
    height: 100vh;
    width: 44vw;
    margin-left: 8%;
    position: relative;

}
.homepageB-right{
    background-color:rgb(129, 189, 39);
    height: 100vh;
    width: 44vw;
}
.pro-gif{
    width: 25vw;
    height: 60vh;
    margin: 25% 13%  ;
    overflow: hidden;
}
.museumGif{
    height: 100%;
    margin-left: -70%;
    opacity: 0.6;
}
.homepageB-left-word{
    color: #81FC4D;
    /* font-size: 2rem; */
    font-size: 2.5vw;
    position:absolute;
    top: 35%;
    line-height: 140%;
    z-index: 999;
}

/* --------------------homepage3 */
.pro-outside3 {
    background-color: white;
    width: calc(100vw - 70px);
    height: 100vh;
}
.homepage3{
    height: 100vh;
    width: 86vw;
    margin-left: 8%;
    position: relative;
}


.homepage3-NewArrival-box{
    position: absolute;
    top:5%;
    z-index: 999;
}
.pro-green{
    width:21vw;
    height:7vh;
    background-color: #81FC4D;
    position: absolute;
    top:23%;
    transform: rotate(-8deg);
}
.homepage3-left-box{
    padding-top: 23%;
    width: 40vw;
    height: 100vh;
    position: relative;
}

.homepage3-NewArrival{
    line-height: 13vh;

}

.slickWidth{
    width: 62vw;
    height: 82vh;
    margin-left: 3%;
    position: relative;
}



/* cautionnnnnnnnnn switchBtn*/
.switchLeftBtn{
    position: absolute;
    top: 71%;
    left: -220px;
    z-index: 1000;
}
.switchRightBtn{
    position: absolute;
    top: 405px;
    left: -145px;
    z-index: 1000;
}
/* cautionnnnnnnnnn */



.homepage3-right-box{
    margin-top: 10%;

}

.pro-arrow{
    margin-left: 28%;
}



/* .slick-prev:before{
    content: url('/src/pages/product/svg/leftArrow.svg');
    width: 0px;
    height: 0px;
    
    
    }
.slick-next:before{
    content: url('/src/pages/product/svg/rightArrow.svg');

} */

.slick-prev{
    width: 5vw;
    height: 8vh;
    top:90%;
    left: -28%;
    /* left: -230px; */
    border:1px solid black;
    border-right: 0;
}

.slick-prev:hover{
    color:transparent
}

.slick-next{
    width: 5vw;
    height: 8vh;
    top:90%;
    left: -20%;
    /* left: -150px; */
    border:1px solid black;

}




.slickPic-box{
    width:30vw;
    height:70vh;
    overflow: hidden;

}
.slickPic1 img{
    width:110%;
    height: 100%;
    margin-left: 0%;
}
.slickPic2 img{
    width:110%;
    height: 100%;
    margin-left: -10%;
}
.slickPic3 img{
    width:110%;
    height: 100%;
    margin-left: -10%;
}
.slickPic4 img{
    width:110%;
    height: 100%;
    margin-left: -10%;
}
.slickPic5 img{
    width:110%;
    height: 100%;
    margin-left: -5%;
}
.slickPic6 img{
    width:110%;
    height: 100%;
    margin-left: 0%;
}
/* -----------homepage4 */
.pro-outside4 {
    background-color: white;
    width: calc(100vw - 70px);
    height: 100vh;
}
.pro-gray4{
    background-color: #E8E8E8;
    width: 70vw;
    height: 100vh;
    margin-top:150px;
    position: relative;
}
.homepage4-doublePicA{
width: 30vw;
height: 10vh;
position: absolute;
top: -15%;
}

.homepage4-doublePicA img{
width:100%;
}
.homepage4-doublePicB{
    width: 30vw;
    height: 10vh;
    position: absolute;
    top: 22%;
}
    
.homepage4-doublePicB img{
    width:100%;
}

.homepage4-wordBox{
    width: 35vw;
    height: 40vh;
    margin-left: 70%;
    padding-top: 15%;
    z-index: 998;

}
.homepage4-wordA{
    font-family: NotoSansTC-Medium;
    font-size: 2vw;
    z-index: 998;

}
.homepage4-wordB{
    font-family:Engravers;
    font-size: 3.5vw;
    margin-left: 10%;
    z-index: 998;

}
.homepage4-wordC{
    font-family:Engravers;
    font-size: 3.5vw;
    margin-left: 25%;
    margin-top: 3%;
    z-index: 998;

}
.homepage4-wordD{
    font-family:Engravers;
    font-size: 6vw;
    margin-left: 36%;
    margin-top: 3%;
    z-index: 998;

}
.pro-green2{
    width:21vw;
    height:7vh;
    background-color: #81FC4D;
    position: absolute;
    top:41%;
    left: 85%;
    transform: rotate(-5deg);
    z-index:995;
}
.pro-green2:hover{
    background-color: black;
}

/* ---------slick start----- */

.slickWidth2{
    width: 70vw;
    height: 60vh;
    margin-left: 8%;
    position: relative;
    margin-top: 12%;
}

.slickPicB-box{
    width:20vw;
    height:50vh;
    overflow: hidden;
    position: relative;

}
.slickPicB-black{
    width: 100%;
    height: 10px;
    background-color: black;
    position: absolute;
    bottom: 0%;
}
.slickPicB-black:hover{
    background-color:black;
    color:black;

}


.slickPicB-box :hover img{
    opacity:1
}
/* .slickPicB-box :hover .slickPicB-black{
    height: 50px;
    transition: .2s;
} */


.slickB1 img{
    width:110%;
    height: 100%;
    margin-left: -5%;
}
.slickB2 img{
    width:110%;
    height: 100%;
    margin-left: -5%;
}
.slickB3 img{
    width:110%;
    height: 100%;
    margin-left: -5%;
}
.slickB4 img{
    width:130%;
    height: 100%;
    margin-left: -15%;
}
.slickB5 img{
    width:150%;
    height: 120%;
    margin-left: -15%;
}
.slickB6 img{
    width:120%;
    height: 120%;
    margin-left: -7%;
}
/* --------slick end-------- */


/* -----------homepage5------- */
.pro-outside5{
    width: calc(100vw - 70px);
}

.pro-gray5{
    background-color: #E8E8E8;
    width: 70vw;
    height: 100vh;
}