@font-face {
    font-family: Engravers;
    src: url(../../../style/font/ENGR.ttf);
}

@font-face {
    font-family: EngraversBold;
    src: url(../../../style/font/EngraversMTBold.ttf);
}

@font-face {
    font-family: NotoSansTC-Medium;
    src: url(../../../style/font/NotoSansTC-Medium.otf)
}

@font-face{
    font-family: NotosansTC-Bold;
    src: url(../../../style/font/NotoSansTC-Bold.otf);
}
.prolist-titlepic{
    position: relative;
}


.prolist-titlepic img{
    width:100%;
}

.prolist-titleword{
    width: 20vw;
    position: absolute;
    top: 30%;
    left: 70%;
    display: flex;
    flex-wrap: wrap;

}
.prolist-ArtDdictlogo{
    width: 100%;
    
}
.prolist-titlewordA{
    font-family: notoSansTC-Medium;
    font-size: 2.5vw;
    letter-spacing: 8px;
    justify-content: flex-end;
    text-align: right;
    padding: 0;


}
.prolist-titlewordB{
    font-family: notoSansTC-Medium;
    font-size: 1.3vw;
    text-align: right;
    margin-top: 10px;
    justify-content: flex-end;
    padding: 0;

}
.prolist-zzzzzz{
    letter-spacing: 0;
}

.prolist-shopnowBtn{
    background-color: black;
    margin-top: 15px;
    width: 130px;
    border: 0 solid black;
}
.prolist-justify{
    justify-content: flex-end;
    padding: 0;
}

.prolist-shopnowBtn p{
    padding: 5px;
    font-family: notoSansTC-Medium;
    color: white;
}

.prolist-quote p{
    font-family: Engravers;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}
.prolist-quote2 p{
    font-family: Engravers;
    text-align: center;
    font-size: 1.2rem;  
    margin: 20px 0 20px 0;
}
.prolist-full2{
    background-color: #e8e8e8;
    height: 2000px;
    width: calc(100vw - 70px);
}
.prolist-row{
    background-color: rgb(124, 252, 252);
    width:calc(100vw - 210px);
    height: 2000px;
    margin: 0 auto;
}

.prolist-topOflist{
    background-color:rgb(250, 250, 131);
    width: 100%;
    height: 200px;
}