    @font-face {
    font-family: Engravers;
    src:url(../../style/font/ENGR.ttf);
    }
    
    @font-face {
    font-family: EngraversBlod;
    src:url(../../style/font/EngraversMTBold.ttf);
    }
    
    @font-face {
    font-family: NotoSansTC-md;
    src:url(../../style/font/NotoSansTC-Medium.otf);
    }

    .notoSansTC-md{
        font-family: NotoSansTC-md;
    }

    .engravers{
        font-family: Engravers;
    }

    /* body {
        width: 100%;
    } */

    .map-area{
        // height:100vh;
        overflow: hidden;
    }

    .index-web-padding{
        padding-right: 70px;
    }

    .map-logo{
        margin-left: 70px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /*開源地圖*/
    #osm-map{
        height: calc(100vh - 15vh);
        width: 100%;
    }

    
    .map-search-bar{
        height: 15vh;
        background-color: #000;
        
    }

    .map-select div{
        font-size: 1.5rem;
        color: #E8E8E8;
        font-weight: normal;
        border: 2px solid #E8E8E8;
    }

    