    // !Default
    
    @font-face {
    font-family: Engravers;
    src:url(../../style/font/ENGR.ttf);
    }
    
    @font-face {
    font-family: EngraversBlod;
    src:url(../../style/font/EngraversMTBold.ttf);
    }
    
    @font-face {
    font-family: NotoSansTC-md;
    src:url(../../style/font/NotoSansTC-Medium.otf);
    }

    .notoSansTC-md{
        font-family: NotoSansTC-md;
    }

    .engravers{
        font-family: Engravers;
    }

    .index-web-padding{
        padding-right: 70px;
    }

    // !Default

    .map-area{
        overflow: hidden;   
    }

    .map-area a{
        direction: none;
        color: #000;
        
    }
    .map-area a:hover{
        direction: none;
        color: #000;
        
        .map-card button{
            opacity: 0.8;
        }
    }
    

    

    .map-logo{
        margin-left: 70px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .map-content{
        height: calc(100vh - 32vh);
    }

    /*開源地圖*/
    #osm-map{
        height: 100vh;
        width: 100%;
    }

    
    .map-search-bar{
        height: 15vh;
        background-color: #000;
        
    }

    .map-select-box{
        height: 5vh;
        font-size: 1rem;
        color: #E8E8E8;
        font-weight: normal;
        border: 2px solid #E8E8E8;
    }

    .map-select{
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url('./img/select-arrow.svg');
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 50%;
        padding-right: 2rem;
    }
    

    // 搜尋


    .map-search input[type="text"] {
        height: 60px;
        font-size: 1rem;
        display: inline-block;
        font-family: "Lato";
        border: none;
        outline: none;
        color: #E8E8E8;
        padding: 3px;
        padding-right: 60px;
        width: 0px;
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        z-index: 3;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: pointer;
      }
      
      .map-search input[type="text"]:focus:hover {
        border-bottom: 1px solid #E8E8E8;
      }
      
      .map-search input[type="text"]:focus {
        width: 25%;
        z-index: 1;
        cursor: text;
      }
      .map-search input[type="submit"] {
        height: 67px;
        width: 63px;
        display: inline-block;
        color:#81FC4D;
        float: right;
        background: url('../../pics/arr-left.svg') no-repeat;
        text-indent: -10000px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        opacity: 0.4;
        transition: opacity .4s ease;
      }
      
      .map-search input[type="submit"]:hover {
        opacity: 0.8;
      }

      // ? map card 

      .map-card-area{
          height: 100%;
          overflow:scroll;
      }

      .map-card{
          font-family: notoSansTC;
          border-bottom: 2px solid #000;
          overflow: scroll;

          strong{
              font-weight: bold;
              font-size:1.5rem;
          }
          
          p{
              font-size:1rem;
          }
      }

      .map-card-btn {
          background: #000;
        
          button {
              background-color: #000;
              border:0;
            color: #E8E8E8;

        }

        a{
            border-top: 1px solid #E8E8E8;
        }

        
      }

      .map-select-box-dk{
        height: 5vh;
        font-size: 1rem;
        color: #000000;
        font-weight: normal;
        border: 2px solid #000000;
    }
      
    