.e-detail-caro{
    border: 4px solid white;
}

.e-caro-ctr-l{
    cursor: pointer;
    padding: 5px;
   top: 50%;
   left: 12%;
   transform: translate(-50%,-50%)
}

.e-caro-ctr-r{
    cursor: pointer;
   top: 50%;
   left: 88%;
   transform: translate(-50%,-50%)
}