// Leave Right Side For Navbar
.reduce-width{
    width: calc(100% - 70px);
}

// For Element Align

.left-margin{
    margin-left: 70px;
}

// HERO SECTION

.hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}

.spin-circle{
    background: url(../images/arddict-circle-w.svg) no-repeat;
    width: 190px;
    height: 190px;
    position: absolute;
    
}

.spin-eye{
    background: url(../images/arddict-eye-w.svg) no-repeat;;
    width: 120.51px;
    height: 79.47px;
    position: absolute;
    top: 55px;
    left: 35px;
}

.e-logo-area{
    width: 40%;
    margin-bottom: 36px;
}

.e-logo{
    width: 100%;
    margin-top: 150px;
}

.e-topic{
    font-size: 30px;
    font-weight: bold;
    color: #81FC4D;
    margin-top: 23px;
    margin-bottom: 23px;
}

.e-font-green{
    color: #81FC4D;
}


// HERO SECTION 活動圖
.hero-event-1{
    background-image: url(../images/museum/art-542317__480.jpeg);
    background-size: cover;
    opacity: .8;

}

.hero-event-2{
    background-image: url(../images/museum/art-542320__480.jpeg);
    background-size: cover;
    opacity: .8;
    
}

.hero-event-3{
    background-image: url(../images/museum/bathsheba-bathing-1150331_1920.jpg);
    background-size: cover;
    opacity: .8;
    
}

.e-hero-card-area{
    width: 100%;
}

// Hero section card 寬度
.e-hero-card{
    width: 20%;
}


// 方形透明圖
.pic-square{
    width: 100%;
}

.e-pictures-margin{
    margin-top: 75px;
}

.e-hero-event-font{
    font-size: 20px;
    font-weight: medium;
    color: #81FC4D;
}


// 系列展覽 position
.e-left-top{
    top: 20px;
    left: 20px;

}

.e-right-top{
    top: 20px;
    right: 20px;
    
}

.e-left-btm{
    bottom: 20px;
    left: 20px;
    
}

.e-right-btm{
    bottom: 20px;
    right: 20px;
}

.e-line{
    width: 100%;
    border-top: 2px solid #81FC4D;
    transform: rotate(45deg);
    top: 50%;
}
.e-line2{
    width: 100%;
    border-top: 2px solid #81FC4D;
    transform: rotate(-45deg);
    top: 50%;
}

// Vol.01 font-size
.e-hero-vol{
    font-size: 30px;
    color: #81FC4D;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,0%)
}

.bigger{
    font-size: 50px;
}

.e-spin-icon{
    width: 60%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.spin-sentence{
    font-size: 40px;
}

.spin-sentence2{
    font-size: 40px;
    color: #1D0AFF ;
}

// EVENT SECTION

.exhi{
    background-color: white;
}

.e-select {
    margin-top: 55px;
    margin-bottom: 20px;
    font-size: 25px;
}

.e-select-cn{
    font-weight: medium;
}



.exhi-btn{
    margin-top: 150px;
    margin-left: calc(50% - 75px);
    color: black;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    background-color: transparent;
}
.e-exhi-event{
    width: 53%;
    background-image: url(../images/museum/human-663298_1920.jpg);
    background-size: cover;

}

.e-exhi-white{
    background-color: #ffffff5b;
}

.e-exhi-name{
    font-size: 40px;
    margin-right: 179px;
    margin-left: auto;

}

.e-exhi-deco{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    
}

.e-exhi-deco-pic{
    object-fit: cover;
    width: 100%;
}

// EXHIBITION 標題英文字
.e-exhi-title{
    font-size: 93px;
    top: 500px;
    left: 45%;
}

//  EXHOBITION ARROW
.e-exhi-title::after{
    position: absolute;
    top: 230px;
    content: '';
    display: block;
    width: 300px;
    height: 2px;
    background: black;
    margin-left:400px;
}

.arrow-cap::after{
    position: absolute;
    top: 231px;
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: translate(-50%, -50%) rotate(45deg);
    margin-left:645px;
}


// EXHOBITION 藍色旋轉眼睛
.e-spin-eye{
    top:400px;
    width: 500px;
}

.e-blue-eye{
    top: 200%;
    left: 51%;
    transform: translate(-50%, 50%);
    width: 65%;
}

// WORKSHOP

.workshop{
    width: 100%;;
    background-color: black;
}

.e-work-hero{
    width: 58%;
    background-image: url(../images/museum/workhero.jpeg);
    background-size: cover;
}


.e-work-black{
    width: 100%;
    height: 100%;
    background-color: #0000005b;
}

.pic-square2{
    width: 100%;
    height: 520px;
}

.e-logo-deco-h{
    width: 40%;
}

.e-logo-deco{
    margin-top: 108px;
    margin-bottom: 133px;
}

.e-work-content{
    color: white;
    font-weight: medium;
    font-size: 20px;
}

.e-work-select{
    margin-top: 55px;
    margin-bottom: 20px;
    font-size: 25px;
    color: white;
}

.e-work1{
    background: url('../images/museum/1440x958_13514121830.jpeg');
    width: 25%;
    background-size: cover;
    background-position: center center;
}

.e-work-border{
    width: 80%;
    height: 80%;
    border: 1px solid white;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.e-work-line{
    width: 100%;
    border-top: 2px solid white;
    transform: rotate(45deg);
    top: 50%;
}
.e-work-line2{
    width: 100%;
    border-top: 2px solid white;
    transform: rotate(-45deg);
    top: 50%;
}