// Leave Right Side For Navbar
.reduce-width{
    width: calc(100% - 70px);
}

// leave 70px left paddinf
.left-padding{
    padding-left: 70px;
}

// ?Color Variable

$egreen: #81FC4D;
$eblue: #1D0AFF;
$egreydk: #A7A7A7;
$egreylt: #E8E8E8;

// !HERO Section 輪播牆

.ed-hero{
    background-color: black;
}

.e-detail-title{
    font-size: 2.5rem;
    color: #81FC4D;
}
