// Leave Right Side For Navbar
.reduce-width{
    width: calc(100% - 70px);
}

// leave 70px left paddinf
.left-padding{
    padding-left: 70px;
}

.both-padding{
    padding-left: 70px;
    padding-right: 70px;

}

// ?Color Variable

$egreen: #81FC4D;
$eblue: #1D0AFF;
$egreydk: #A7A7A7;
$egreylt: #E8E8E8;

// !Share Zone

.e-upload{
    background-color: #E8E8E8;
}

.eu-bread{
    border-top: 2px solid black;
}

// !Upload Left Area

.eu-pic-up{
    h5{
        font-weight: normal;
        font-size: 1.3rem;
    }
    h2{
        font-weight: 500;
        font-size: 1.9rem;
    }

}

.eu-upload-title {
    font-size: 1.3rem;
}

.eu-pic-left{
    div{
        background-color: white; 
        border: 2px solid #707070;
        .up-spin{
            width: 80%;
            height: 80%;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        button{
            background-color: black;
            font-size: 1rem;
            font-weight: 500;
            color: white;
            border: 0px;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
        img{
        width: 100%;
        }
    }
}   
    

.eu-pic-right{
    div{
        div{
            background-color: white; 
            border: 2px solid #707070; 
            button{
            background-color: #707070;
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 1.3rem;
            color: white;
            border: 0px;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
            img{
                width: 100%;
            }
        }
    }
}

.eu-more-event{
    background-color: white;
    h2{
        font-weight: bold;
        font-size: 1.9rem;
        letter-spacing: 4px;
        span{
            font-size: 2.2rem;
            color: #1D0AFF;
            letter-spacing: 0px;
        }
    }
}

.eu-text{
    resize: none;
    &:focus{
        outline: none !important;
        border: 1px solid #1D0AFF;
    }
}

.eu-send-cmt{
    background-color: #1D0AFF;
    border: 0px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.eu-send-cmt:hover{
    background-color: #1f12b3;
    border: 0px;
    color: white;
}

.eu-send-del{
    background-color: transparent;
    border: 2px solid #A7A7A7;
    color: #A7A7A7;
    font-size: 1rem;
    font-weight: 500;
}

.eu-send-del2{
    background-color: #d44035;
    border: 0px solid #A7A7A7;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.eu-send-del2:hover{
    background-color: #c44d45;
    border: 0px solid #A7A7A7;
}

.eu-send-del:hover{
    background-color: #A7A7A7;
    border: 2px solid #A7A7A7;
    color: white;
}

.eu-list-card {
    border-top: 1px solid black;
    img{
    border: 2px solid #707070;
    }
    h6{
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    }
    p{
    font-size: 1rem;
    font-weight: normal;
    color: #535353;
    line-height: 1.2rem;
    letter-spacing: 2px;
}
}


// !!!! For React-Bootstrap


#eventModal{
    font-family: 'Noto Sans TC';
    span{
        color: #d44035;
    }

    button{
        border-radius: 0px;
    }
    .modal-content{
        border-radius: 0px;
        padding: 1.2rem 1.8rem;
        box-shadow: -10px -10px 0px black ;
    }
    .modal-title {
        font-size: 1.3rem;
    }
    .modal-content {
        padding: 1.2rem 1.8rem;
    }
    .modal-header {
        border-bottom: 2px solid black;
    }
    .modal-footer {
        border: 0px;
    }
    .e-modal-close{
        background-color: transparent;
        border: 2px solid #A7A7A7;
        color: #A7A7A7;
        font-size: 1rem;
        font-weight: 500;

    }
    .e-modal-close:hover{
        background-color: #A7A7A7;
        border: 2px solid #A7A7A7;
        color: white;
    }
    .e-modal-del{
        background-color: #d44035;
        border: 0px solid #A7A7A7;
        color: white;
        font-size: 1rem;
        font-weight: 500;
    }
    .e-modal-del:hover{
        background-color: #c44d45;
        border: 0px solid #A7A7A7;
        color: white;
        font-size: 1rem;
        font-weight: 500;
    }

}
