// *{
//     outline:1px red solid;
// }

// .u-container-fluid{
//     outline:1px green solid;
// }

.uAuc-main{
    margin:50px 0 0 0;
    border: 2px solid #000;
    border-top: 25px solid #000;
    height: 260px;
    width: 100%;
    display: flex;
}

.uAuc-picture{
    width: 175px;
    height: 175px;
    margin: 25px 0 0 25px;
    border:1px solid #000;
    img{
        width: 100%;
        height: 100%;
    }
}



.uAuc-productState{
    margin: 0 0 0 25px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uAuc-productState li{
    margin: 10px 0 0 0;
}

.uAuc-btnf{
    font-family: 'NotoSansTC-Medium';
    margin:0 50px 0 0;
    line-height: 45px;
    flex-shrink:1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.uAuc-btn{
    width: 150px;
    height: 50px; 
    background-color: #000;
    color:#fff;
    border: 0px;
    text-align: center;
}


